@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;1,400;1,700&family=Racing+Sans+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-mono antialiased bg-indigo-900;
}

a,
button {
    transition: all 0.15s ease-in-out;
}

.banner nav ul li a {
    text-decoration-color: #db2777;
}

.banner nav ul li a::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 2px;
    left: -5px;
    width: 30px;
    height: 20px;
    clip-path: polygon(0 0, 60% 100%, 100% 25%);
    visibility: hidden;
    @apply bg-pink-600;
}

.banner nav ul li a:hover::before {
    visibility: visible;
}

.site-logo .text-1 {
    -webkit-text-stroke: 2px white;
}

.site-logo .triangle {
    z-index: -1;
    width: 300px;
    height: 200px;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.site-logo .triangle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    width: 96%;
    height: 98%;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    @apply bg-indigo-900;
}

.card:hover .card__border {
    transform: translate(0, 0);
}

/* profile page */
.profile .profile-about h2,
.profile .profile-about h3,
.profile .profile-about h4,
.profile .profile-about h5,
.profile .profile-about h6 {
    @apply mb-2 font-bold text-white;
}

.profile .profile-about p + h2,
.profile .profile-about p + h3,
.profile .profile-about p + h4,
.profile .profile-about p + h5,
.profile .profile-about p + h6 {
    @apply mt-8;
}

.profile .profile-about p:not(:last-of-type),
.profile .profile-about ul,
.profile .profile-about ol {
    @apply mb-4;
}

.profile .profile-about a {
    @apply inline-block text-purple-200 hover:text-white border-dashed border-b border-indigo-700;
}
